html,
body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    padding: 70px;
}

button {
    padding: 15px;
    font-size: 1.3rem;
    font-family: monospace;
    background-color: rgb(181, 188, 194);
    margin-right: 5px;
}